<%= form_tag edit_path(@page), :method => :put do %>
  <div class="row-fluid">
    <div class="span3" id="panel">

      <%= render 'breadcrumbs' %>

      <div class="well clearfix">
        <div class="btn-group">
          <%= submit_tag 'Save', :class => 'btn btn-primary btn-small', :accesskey => 's', :title => 'Saves changes to this page [Ctrl+S]' %>
          <%= submit_tag 'Preview', :class => 'btn btn-small', :accesskey => 'p', :title => 'Preview page changes instead of saving [Ctrl+P]' %>
          <%= link_to 'Cancel', show_path(@page), :class => 'btn btn-small', :title => 'Cancel page edition' %>
        </div>
        <div class="pull-right">
          <%= link_to 'Delete', show_path(@page), :class => 'btn btn-danger btn-small', :title => 'Deletes current page from disk, forever', :confirm => 'This will delete the current page. Are you sure?', :method => :delete %>
        </div>
      </div>

      <div id="jumpers" class="breadcrumb"></div>

    </div>

    <div class="span9 pull-right">

      <textarea name="content" rows="25" class="prettyprint"><%= @page.content %></textarea>

      <%= @parsed_content.html_safe %>

    </div>
  </div>
<% end %>
